#page-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* adjust to your needs */
}
#sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* adjust to your needs */
}
.content{
    text-align: center;
}
.circle-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .circle-image {
    width: 100%;
    height: auto;
  }
  